<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ConductorUnidadMapper">

    <!-- Obtener unidad actual del conductor -->
    <select id="obtenerAsignacionPorConductor" parameterType="int" resultType="pojo.ConductorUnidad">
        SELECT *
        FROM ConductorUnidad
        WHERE idConductor = #{idConductor};
    </select>

    <!-- Obtener conductor asignado a unidad -->
    <select id="obtenerAsignacionPorUnidad" parameterType="int" resultType="pojo.ConductorUnidad">
        SELECT *
        FROM ConductorUnidad
        WHERE idUnidad = #{idUnidad};
    </select>

    <!-- Registrar asignación -->
    <insert id="registrarAsignacion" parameterType="pojo.ConductorUnidad">
        INSERT INTO ConductorUnidad(idConductor, idUnidad, numeroPersonal)
        VALUES(#{idConductor}, #{idUnidad}, #{numeroPersonal});
    </insert>
    <update id="actualizarUnidadConductor" parameterType="pojo.ConductorUnidad">
        UPDATE Unidad
        SET numeroPersonal = #{numeroPersonal}
        WHERE idUnidad = #{idUnidad};
    </update>


    <!-- Eliminar asignación (liberar unidad) -->
    <delete id="eliminarAsignacion" parameterType="int">
        DELETE FROM ConductorUnidad
        WHERE idConductor = #{idConductor};
    </delete>
    <update id="limpiarNumeroPersonalUnidad" parameterType="int">
        UPDATE Unidad
        SET numeroPersonal = NULL
        WHERE idUnidad = (
            SELECT idUnidad FROM ConductorUnidad WHERE idConductor = #{idConductor}
        );
    </update>
    
</mapper>
