<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EnvioHistorialMapper">

    <select id="obtenerPorEnvio" parameterType="int" resultType="pojo.EnvioHistorial">
        SELECT idHistorial, idEnvio, estatus, comentario, fechaCambio, idColaborador
        FROM EnvioHistorial
        WHERE idEnvio = #{idEnvio}
        ORDER BY fechaCambio ASC;
    </select>

    <insert id="registrar" parameterType="pojo.EnvioHistorial">
        INSERT INTO EnvioHistorial(idEnvio, estatus, comentario, idColaborador)
        VALUES (#{idEnvio}, #{estatus}, #{comentario}, #{idColaborador});
    </insert>

</mapper>
