<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EnvioMapper">
    
    <select id="obtenerTodos" resultType="pojo.Envio">
        SELECT * 
        FROM Envio;
    </select>

    <!-- Obtener por número guía -->
    <select id="obtenerPorGuia" parameterType="string" resultType="pojo.Envio">
        SELECT * 
        FROM Envio 
        WHERE numeroGuia = #{numeroGuia};
    </select>
    
    <select id="obtenerEnvioConductor" parameterType="int" resultType="pojo.Envio">
        SELECT *
        FROM Envio
        WHERE idColaborador = #{idColaborador};
    </select>

    <!-- Obtener por ID -->
    <select id="obtenerPorId" parameterType="int" resultType="pojo.Envio">
        SELECT * 
        FROM Envio 
        WHERE idEnvio = #{idEnvio};
    </select>

    <!-- Obtener envíos por cliente -->
    <select id="obtenerPorCliente" parameterType="int" resultType="pojo.Envio">
        SELECT * 
        FROM Envio 
        WHERE idCliente = #{idCliente};
    </select>

    <!-- Registrar -->
    <insert id="registrar" parameterType="pojo.Envio">
        INSERT INTO Envio (
        idCliente,
        idColaborador,
        nombreDestinatario,
        idSucursalOrigen,
        calleDestino,
        numeroDestino,
        coloniaDestino,
        cpDestino,
        ciudadDestino,
        idEstadoDestino,
        idEstadosEnvio,
        numeroGuia
        )
        VALUES (
        #{idCliente},
        #{idColaborador},
        #{nombreDestinatario},
        #{idSucursalOrigen},
        #{calleDestino},
        #{numeroDestino},
        #{coloniaDestino},
        #{cpDestino},
        #{ciudadDestino},
        #{idEstadoDestino},
        #{idEstadosEnvio},
        #{numeroGuia}
        );
    </insert>

    <!-- Actualizar envío (NO número guía) -->
    <update id="editar" parameterType="pojo.Envio">
        UPDATE Envio
        SET
        nombreDestinatario = #{nombreDestinatario},
        calleDestino = #{calleDestino},
        numeroDestino = #{numeroDestino},
        coloniaDestino = #{coloniaDestino},
        cpDestino = #{cpDestino},
        ciudadDestino = #{ciudadDestino},
        idEstadoDestino = #{idEstadoDestino},
        idEstadosEnvio = #{idEstadosEnvio},
        idColaborador = #{idColaborador}
        WHERE idEnvio = #{idEnvio};
    </update>
    
    <update id="completarCostos" parameterType="pojo.Envio">
        UPDATE Envio
        SET 
        distanciaKm = #{distanciaKm},
        costoKm = #{costoKm},
        costoPaquetes = #{costoPaquetes},
        costoTotal = #{costoTotal},
        idEstadosEnvio = 2
        WHERE idEnvio = #{idEnvio};
    </update>
    
    <!-- Eliminar envío por número de guía -->
    <delete id="eliminarPorGuia" parameterType="string">
        DELETE FROM Envio
        WHERE numeroGuia = #{numeroGuia};
    </delete>
    
    <update id="actualizarEstadoEnvio" parameterType="pojo.Envio">
        UPDATE Envio
        SET idEstadosEnvio = #{idEstadosEnvio}
        WHERE idEnvio = #{idEnvio}
    </update>

</mapper>