<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SucursalMapper">

    <resultMap id="SucursalMap" type="pojo.Sucursal">
        <id property="idSucursal" column="idSucursal"/>
        <result property="codigo" column="codigo"/>
        <result property="nombreCorto" column="nombreCorto"/>
        <result property="estatus" column="estatus"/>
        <result property="calle" column="calle"/>
        <result property="numero" column="numero"/>
        <result property="colonia" column="colonia"/>
        <result property="codigoPostal" column="codigoPostal"/>
        <result property="ciudad" column="ciudad"/>
        <result property="idEstado" column="idEstado"/>
    </resultMap>

    <select id="obtenerTodos" resultMap="SucursalMap">
        SELECT * FROM Sucursal;
    </select>

    <select id="obtenerPorId" parameterType="int" resultMap="SucursalMap">
        SELECT * 
        FROM Sucursal
        WHERE idSucursal = #{idSucursal};
    </select>

    <select id="obtenerPorCodigo" parameterType="string" resultMap="SucursalMap">
        SELECT * 
        FROM Sucursal
        WHERE codigo = #{codigo};
    </select>

    <insert id="registrar" parameterType="pojo.Sucursal">
        INSERT INTO Sucursal
        (codigo, nombreCorto, estatus, calle, numero, colonia, codigoPostal, ciudad, idEstado)
        VALUES
        (#{codigo}, #{nombreCorto}, #{estatus}, #{calle}, #{numero}, #{colonia},
        #{codigoPostal}, #{ciudad}, #{idEstado});
    </insert>

    <update id="editar" parameterType="pojo.Sucursal">
        UPDATE Sucursal SET
        nombreCorto = #{nombreCorto},
        calle = #{calle},
        numero = #{numero},
        estatus = #{estatus},
        colonia = #{colonia},
        codigoPostal = #{codigoPostal},
        ciudad = #{ciudad},
        idEstado = #{idEstado}
        WHERE idSucursal = #{idSucursal};
    </update>

    <update id="darBaja" parameterType="int">
        UPDATE Sucursal
        SET estatus = 'Inactiva'
        WHERE idSucursal = #{idSucursal};
    </update>
    
    <delete id="eliminarSucursal" parameterType="int">
        DELETE FROM Sucursal 
        WHERE idSucursal = #{idSucursal};
    </delete>

</mapper>