<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UnidadMapper">

    <!-- Obtener todas las unidades -->
    <select id="obtenerTodos" resultType="pojo.Unidad">
        SELECT u.idUnidad,
               u.anio,
               u.vin,
               u.noIdentificacion,
               u.numeroPersonal,
               u.idTipoUnidad,
               t.nombre AS tipoUnidad,
               u.numeroInterno,
               u.marca,
               u.modelo,
               u.estatus
        FROM Unidad u
        INNER JOIN TipoUnidad t ON t.idTipoUnidad = u.idTipoUnidad;
    </select>

    <!-- Obtener unidad por ID -->
    <select id="obtenerPorId" parameterType="int" resultType="pojo.Unidad">
        SELECT u.idUnidad,
               u.anio,
               u.vin,
               u.noIdentificacion,
               u.numeroPersonal,
               u.idTipoUnidad,
               t.nombre AS tipoUnidad,
               u.numeroInterno,
               u.marca,
               u.modelo,
               u.estatus
        FROM Unidad u
        INNER JOIN TipoUnidad t ON t.idTipoUnidad = u.idTipoUnidad
        WHERE u.idUnidad = #{idUnidad};
    </select>

    <!-- Registrar unidad -->
    <insert id="registrar" parameterType="pojo.Unidad">
        INSERT INTO Unidad (
            anio, vin, noIdentificacion, numeroPersonal,
            idTipoUnidad, numeroInterno, marca, modelo, estatus
        )
        VALUES (
            #{anio}, #{vin}, #{noIdentificacion}, #{numeroPersonal},
            #{idTipoUnidad}, #{numeroInterno}, #{marca}, #{modelo}, #{estatus}
        );
    </insert>

    <!-- Editar unidad -->
    <update id="editar" parameterType="pojo.Unidad">
        UPDATE Unidad SET
            anio = #{anio},
            vin = #{vin},
            noIdentificacion = #{noIdentificacion},
            numeroPersonal = #{numeroPersonal},
            idTipoUnidad = #{idTipoUnidad},
            numeroInterno = #{numeroInterno},
            marca = #{marca},
            modelo = #{modelo},
            estatus = #{estatus}
        WHERE idUnidad = #{idUnidad};
    </update>

</mapper>